*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.7;
  color: #2602f0;
  padding: 2rem;
  background: linear-gradient(45deg, #01362f, #00ffe1);
}

.header{
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(128, 128, 128, 0.4);
  animation: moveInTop 1s ease-out;
  font-size: 1.5rem;
}

/* header animation */
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  70% {
    transform: translateY(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

.survey {
  background-image: linear-gradient(
    45deg, 
    rgba(206, 223, 55, 0.7),
    rgba(111, 213, 203, 0.7)), 
    url(../img/classlug.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  position: relative;
  border-radius: 1rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  text-align: left;
  padding: 2rem 2rem 40rem;
  box-sizing: content-box;
  animation: moveInRight 1s ease-out;
}

/* survey animation */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  70% {
    transform: translateX(-10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

.input, .drop-down{
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.35rem;
  border-width: 0.2rem;
  border-color: #000000;
  background-color:  rgba(111, 213, 203, 0.7);
  font-weight: bold;
  padding: 0.2rem;
}

.label, p{
  font-size: 1.5rem;
  font-weight: bold;
}

.survey-box {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 1.2rem;   
}

.input-textarea {
  width: 100%;
  height: 6rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.35rem;
  border-width: 0.2rem;
  border-color: #000000;
  background-color:  rgba(111, 213, 203, 0.7);
  padding: 0.2rem;
}


.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #00ffe1;
  border-radius: 0.35rem;
  border-width: 0.2rem;
  border-color: #000000;
  font-size: 1.5rem;
  
}